body {
  font-family: Arial, sans-serif;
  background-color: #ffdaea;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-app {
  background: radial-gradient(
    329px at 3.1% 9.3%,
    rgb(251, 204, 235) 28.1%,
    rgba(221, 221, 221, 0.15) 100.7%
  );
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  text-align: center;
  color: #333;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  background-color: #e4297a;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #f95aaa;
}

ul {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.task-item button {
  background-color: #fd7373;
}

.task-item button:hover {
  background-color: #cc0000;
}
